<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Derived Image Detail</title>
        <style>
            .image-container {
                text-align: center;
                margin-bottom: 20px;
            }

            .image-container img {
                max-width: 900px;
                height: auto;
                display: block;
                margin: 0 auto;
            }

            .metadata {
                max-width: 600px;
                margin: 0 auto;
                text-align: left;
            }
        </style>
    </head>

    <body>
        <h1>Item ID: {{ derived_image.identifier }}</h1>
        <div class="image-container">
            <img src="{{ derived_image.image.url }}" alt="{{ derived_image.description }}">
        </div>
        <div class="metadata">
            <h2>Metadata</h2>
            <p><strong>Graffiti Type:</strong> {{ derived_image.graffiti_type }}</p>
            <p><strong>Description:</strong> {{ derived_image.description | safe }}</p>
            <p><strong>Tags:</strong> {{ derived_image.tags }}</p>
            <p><strong>Coordinates:</strong> {{ derived_image.coordinates }}</p>
        </div>
    </body>

</html>
