{% extends "base.html" %} {% block title %}Graffiti House Project{% endblock %}
{% block content %}
    <main>
        <!-- Hero section starts -->
        <div class="relative bg-gray-800 overflow-hidden h-screen">
            <!-- Hero image -->
            <img
                class="absolute inset-0 w-full h-full object-cover"
                src="https://static.wixstatic.com/media/33a0c8_2a20866012684002852095b34c4223f6~mv2.jpg/v1/fill/w_825,h_600,al_c,lg_1,q_85,enc_auto/33a0c8_2a20866012684002852095b34c4223f6~mv2.jpg"
                alt="Hero Image"
            />
            <!-- Overlay to darken the image -->
            <div class="absolute inset-0 bg-gray-900 opacity-70"></div>
            <!-- Hero content -->
            <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-32">
                <h1
                    class="text-3xl font-extrabold text-white sm:text-2xl lg:text-7xl mb-8"
                >
                    Civil War Graffiti
                </h1>
                <p class="text-lg text-gray-300 max-w-2xl mb-12">
                    Site description goes here. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
                >
            </div>
        </div>

{% endblock %}
</main>
